<a href="https://colab.research.google.com/github/krcit/python-examples/blob/main/for_if_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
iterable = [1, 2, 3, 4]
for a in iterable :
  print(a**2)

1
4
9
16

In [ ]:
names = ["Ahmet", "Mehmet", "Ali", "Veli"]
for i in names:
  print("Hello,", i )

In [ ]:
list_m = range(1,6)
listem = []
for i in list_m :
  listem.append(i)
print(listem)

In [ ]:
word = input("Please enter a word")
counter = 0
for i in word :
  counter += 1
  if counter < len(word) :
     i = i + "-"
  print(i, end="")

In [ ]:
# a = range(1, 10)
for i in range(1, 10) :
  print(str(i) * i)

In [ ]:
evens = []
odds = []
for i in range(10):
  if i % 2 == 0:
    evens.append(i)
  else :
    odds.append(i)
print("evens: ", evens)
print("odds: ", odds)

In [ ]:
liste = [11, 2, 24, 61, 48, 33, 3]
evens = []
odds = []
for i in liste:
  if i % 2 == 0:
    evens.append(i)
  else:
    odds.append(i)
total_evens = len(evens)
total_odds = len(odds)
print("The number of even numbers :", total_evens)
print("The number of odd numbers :", total_odds)

In [ ]:
liste = [11, 2, 24, 61, 48, 33, 3]
evens = 0
odds = 0
for i in liste:
  if i % 2 == 0:
    evens += 1
  else:
    odds += 1
print("The number of even numbers :", evens)
print("The number of odd numbers :", odds)

In [ ]:
n = int(input("kaç rakam var"))
n_list = range(1, n+1)
# n1 = int(input)
for i in n_list :
  print(i)

In [ ]:
saved_amount = int(input('Please enter your saved amount: '))
ps4_price = 250
if saved_amount <= ps4_price/2:
    print("You must save more, keep saving!")
elif saved_amount >= ps4_price:
    print("Yippee! You can buy your PS4")
else:
    print("You saved more than half, keep saving!")

Please enter your saved amount: 255
Yippee! You can buy your PS4

In [ ]:
math_mark = int(input('Please enter the mark: '))
if math_mark <= 44:
  print("F (Failed)")
elif math_mark <= 59:
  print("D (Not Bad)")
elif math_mark <= 69:
  print("C (Medium)") 
elif math_mark <= 84:
  print("B (Good)")
else:
  print("A (Excellent)")

Please enter the mark: 23
F (Failed)

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in range(len(weekdays)):
    print('Day', day+1, ':', weekdays[day])

Day 1 : Monday
Day 2 : Tuesday
Day 3 : Wednesday
Day 4 : Thursday
Day 5 : Friday

In [ ]:
a = 49
while a % 2 != 0:
    print(a)
    a += 5

49

In [ ]:
number = int(input('Please enter a number: '))
sayı = 0
while sayı < number:
  sonuç = sayı**2
  print(sonuç)
  sayı +=1

Please enter a number: 5
0
1
4
9
16

In [ ]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]
for i in sample_list:
  print("The type of", i, " is", type(i))

The type of {'section': 5, 'topic': 2}  is <class 'dict'>
The type of clarusway  is <class 'str'>
The type of [1, 4]  is <class 'list'>
The type of 2020  is <class 'int'>
The type of 3.14  is <class 'float'>
The type of (1+618j)  is <class 'complex'>
The type of False  is <class 'bool'>
The type of (10, 20)  is <class 'tuple'>

In [ ]:
a = 12
type(a)

int

In [ ]:
print(*range(11))

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [2]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]
for i in names:
  for ii in mood:
    print(i + " is " +ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [11]:
v = ("five", 5, True)
v = (x, y, z)
print (x, z)

five True

In [13]:
# _, == place holder
x, y, _, _, z = (11, 12, 13, 14, 15)
print(x, y, z)

11 12 15

In [15]:
# * itarate ediyor ve liste oluşturuyor
x, y, *z = (11, 12, 13, 14, 15)
print(x, y, z)

11 12 [13, 14, 15]